<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); -%>
    </head>
    <body>
        <header>
            <%- include('partials/header.ejs'); -%>
        </header>
        <main class="chat">
            <%- include('partials/chatOverview.ejs'); -%>
            <%- include('partials/chatWindow.ejs'); -%>
        </main>
        <footer>
            <%- include('partials/footer.ejs'); -%>
        </footer>
    </body>
</html>
